<h1><%= @course.name%><br></h1>
____________________________

<% @course.holes.by_number.each do |hole| %>
  <p>Hole: <%= hole.hole_number %></p>
  <p>Distance: <%= hole.distance %> yards</p>
  <p>Par: <%= hole.par_score%></p>
  <% if hole.water_hazard %>
    <%= 'water_hazard: Yes' %><br><br>
  <% end %>

  <% if current_user.admin %>
    <%= 'Admin:' %> <br>
    <%= link_to 'Edit Hole', edit_course_hole_path(@course, hole) %>
    <%= link_to "Delete Hole", course_hole_path(@course, hole), method: :delete, data: {confirm: "Are you sure you want to delete this hole?"} %><br>
  <% end %>

  ____________________________
<% end %><br>

<h2><%= link_to "Back to Course", course_path(@course) %></h2>