<h1><%= @course.name%><br></h1>

<table>
  <thead>
    <tr>
        <th>Hole #</th>
        <th>Distance</th>
        <th>Par</th>
        <th>Water Hazard</th>
        <% if current_user.admin %>
          <th>admin</th>
        <% end %>
    </tr>
  </thead>

<tbody>
    <% @course.holes.by_number.each do |hole| %>
      <tr>
        <td><%= hole.hole_number %></td>
        <td><%= hole.distance %></td>
        <td><%= hole.par_score %></td>
        <% if hole.water_hazard %>
          <td>YES</td>
        <% else %>
          <td>NO</td>
        <% end %>
        <% if current_user.admin %>
          <td><%= link_to "Delete", course_hole_path(@course, hole), method: :delete, data: {confirm: "Are you sure you want to delete this hole?"} %>,<%= link_to 'Edit', edit_course_hole_path(@course, hole) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= link_to "Back to Course", course_path(@course) %></h2>




