<h1>Visits Log at <%= @course.name %> </h1>

<h3><strong><%= link_to 'Log Your Visit', new_course_visit_path(@course) %></strong></h3>

<table>
  <thead>
    <tr>
        <th>User Name</th>
        <th>Date</th>
        <th>Score</th>
        <th>Conditions</th>
    </tr>
  </thead>

  <tbody>
    <% @course.visits.each do |visit| %>
      <tr>
        <td><%= visit.user.name %></td>
        <td><%= visit.date %></td>
        <td><%= visit.score %></td>
        <td><%= visit.conditions %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Return to Course', course_path(@course) %>