<h1>Courses Home Page</h1>

<h2>Below Find all Courses</h2><br>

<% @courses.each do |course| %>
  <h1> <%= link_to course.name, course_path(course) %> </h1>
  <p>Address: <%= course.address %></p>
  <p>City: <%= course.city %></p>
  <p>State: <%= course.state %></p>
  <p>Description:<%= course.description %></p>
  <p>Price: $<%= course.price %></p>
  <p>Difficulty: <%= course.difficulty %></p>
  <p> ADMIN: <%= link_to 'Add Holes', new_course_hole_path(course) %>
  <p> Click Here To See Course Holes: <%= link_to 'Holes'%>
<% end %>