<h1> <%= @course.name %> </h1>
<p><%= @course.address %></p>
<p><%= @course.city %></p>
<p><%= @course.state %></p>
<p><%= @course.description %></p>
<p><%= @course.price %></p>
<p><%= @course.difficulty %></p>
