<h1> <%= @course.name %> </h1>

<strong>Address:</strong><br>
<%= @course.address %><br>
<%= @course.city %>, <%= @course.state %><br><br>

<strong>Description:</strong><br>
<%= @course.description %><br><br>

<strong>Price:</strong><br>
$<%= @course.price %>

<p><%= @course.difficulty %></p>
<strong><%= link_to 'Holes', course_holes_path(@course) %></strong><br>
<br>
<br>
<br>

<strong> <%= link_to 'Back', courses_path %> </strong>
