<h1> <%= @course.name %> </h1>

<strong>Address:</strong><br>
<%= @course.address %><br>
<%= @course.city %>, <%= @course.state %><br><br>

<strong>Description:</strong><br>
<%= @course.description %><br><br>

<strong>Price:</strong><br>
$<%= @course.price %><br>

<br>
<strong>Difficulty:</strong><br>
<%= @course.difficulty %></p>

<strong>Number of Holes: </strong><br>
<%= @course.holes.count %></p>

<strong>Total Par: </strong><br>
<%= @course.total_par %><br><br>

<strong>Total Distance: </strong><br>
<%= @course.total_distance %> Yards</p>


<strong><%= link_to 'Course Holes', course_holes_path(@course) %></strong><br>
<br>
<br>
<br>

<h2><strong> <%= link_to 'Back', courses_path %> </strong></h2>
