<!DOCTYPE html>
<html>
  <head>
    <title>GolfCountryClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <div class="header">
  <%=link_to (image_tag ("/assets/golf_ball.png"), class: "img-responsive"), root_path%>
    <div class="header-center">
      <%= "Golf Course Database"%>
    </div>
    <div class="header-right">
        <%= render 'layouts/session_buttons' %>
      </div>
    </div>
  </div>
  </head>

  <body>
    <a><%= render 'layouts/alerts' %></a>

    <div>
      <% if flash[:messages] %>
        <% flash[:messages].each do |message| %>
          <strong><h3><%= message%></h3></strong>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
